:root {
    --base: #eff1f5;
    --mantle: #e6e9ef;
    --crust: #dce0e8;
    --surface: #acb0be;
    
    --green: #a6d189;
    --red: #e78284;
    
    --text: #4c4f69;
    --subtext: #8f91a0;
}

body {
    width: 300px;
    height: 400px;
    padding: 50px;

    font-family: monospace;
    background-color: var(--base);
    color: var(--text);
}

.screen {
    position: absolute;
    height: 400px;
    width: 300px;
}

.title {
    margin-bottom: 0px;
}

.description {
    margin-top: 0px;
    width: 300px;
    color: var(--subtext);
}

.github-link {
    color: var(--subtext);
}

.game-buttons {
    margin-top: 20px;
    width: 300px;
}

.game-button {
    padding: 5px 8px 5px 8px;
    margin-bottom: 7px;
    border-radius: 5px;

    border: 1px solid var(--subtext);
    background-color: var(--mantle);
    color: var(--text);

    cursor: pointer;
    transition: background-color 0.2s;
}

.game-button:hover {
    background-color: var(--crust);
}

.game-button:active {
    background-color: var(--surface);
}

.theme-button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    height: 20px;
    width: 50px;
    border-radius: 10px;

    background-color: var(--crust);
    color: var(--subtext);
    font-size: 12px;

    user-select: none;
    cursor: pointer;
}

.game-title {
    font-size: 18px;
}

.key-icon {
    display: inline-block;
    border: 1px solid var(--surface);
    color: var(--subtext);
    padding: 1px;
    margin: 2px 2px 8px 0px;
    white-space: pre;
}

.death-screen {
    visibility: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;

    width: 300px;
    height: 300px;
}

.death-screen * {
    color: var(--text);
    z-index: 10;
    margin-bottom: 2px;
    opacity: 100%;
}

.try-again {
    padding: 5px 8px 5px 8px;
    border-radius: 5px;

    border: 1px solid var(--subtext);
    background-color: var(--mantle);
    color: var(--text);

    cursor: pointer;
    transition: background-color 0.2s;
}

.try-again:hover {
    background-color: var(--crust);
}

.try-again:active {
    background-color: var(--surface);
}

.death-screen-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;

    opacity: 20%;
    background-color: var(--text);

    width: 300px;
    height: 300px;
}

.game-canvas {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 300px;
    height: 300px;
}